<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>image</key>
            <string>Boyfriend.png</string>
            <key>title</key>
            <string>Boyfriend</string>
            <key>details</key>
            <string>Voiced by: Kawai Sprite (samples only)
&quot;Bop beep be be skdoo bep&quot;
The spunky, spiky-haired protagonist of the game, a 19-year-old rapper on a mission to prove himself worthy to be Girlfriend&apos;s partner the only way he knows how: funky fresh beats!
- Fearless Fool: The Boyfriend usually goes up against characters that explicitly want to harm him and he sings along without a care in the world. Word of God has described him and the Girlfriend as &quot;morons who are too dumb to realize what kind of danger they are [in]&quot;, explaining why he rarely runs away from potentially dangerous opponents.
- Fear of Thunder: Gains a worried face and sweat drops when lightning strikes during Week 2.
- Interspecies Romance: He&apos;s in a committed relationship with The Girlfriend, even though he&apos;s a human and she&apos;s a demon.
- Quest for Sex: Downplayed. He&apos;s genuinely in love with The Girlfriend and is willing to risk his life for her, but if the blue balls he gets from failing a song and key lines from &quot;Fresh (Boyfriend Remix)&quot; are any indication, he also really wants to get in her pants.
- Unfazed Everyman: The Boyfriend will always maintain the same cocky expression no matter the situation or who he is up against. Even if some of his opponents are actually trying to kill him or the Girlfriend, he will continue to sing as if nothing was out of the ordinary.
- The Unintelligible: The only dialogue currently in the game makes his side of the conversation completely indecipherable - he speaks in the same beep bopping noises he makes during battle, indicating that is legitimately how he talks.
- The Boyfriend: Beep bo bop.
- V-Sign: Flashes a peace sign when selecting a Week and after completing a verse in &quot;Bopeebo&quot;.
- You Gotta Have Blue Hair: His hair is a very vibrant blue in color and happens to be his natural hair color, making him stick out from the rest of the cast who either have mostly normal shades or no hair at all.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Girlfriend.png</string>
            <key>title</key>
            <string>Girlfriend</string>
            <key>details</key>
            <string>Voiced by: Kawai Sprite
&quot;That&apos;s how you do it!&quot;
The Boyfriend&apos;s girlfriend - obviously - whom he&apos;s determined to spend the rest of his life with, even if he has to rap his heart out to do so.
She acts as the game&apos;s tutorial, teaching the player the basic mechanics and controls they&apos;ll need to get through the rest of the game.

- Brainless Beauty: While very attractive, the Girlfriend always remains indifferent and spaced out about any potential threat to her. Word of God describes her and the Boyfriend as &quot;morons who are too dumb to realize what kind of danger they are [in]&quot;.
- Fear of Thunder: During Week 2, she&apos;ll jump a little whenever there&apos;s thunder.
- Interspecies Romance: She&apos;s a demon who&apos;s in a committed relationship with The Boyfriend, who is completely human.
- Ocular Gushers: For a split second she gets a few large streaks of tears whenever you miss a note.
- Our Demons Are Different: She&apos;s a demon like her parents, but unlike them looks completely human.
- Satellite Love Interest: While most of the characters don&apos;t have well-defined personalities due to the game&apos;s nature, The Girlfriend&apos;s entire role in the story is to serve as The Boyfriend&apos;s love interest whom he must fight for.
- She&apos;s Got Legs: Her short-hemmed red dress and heels do a good job fully exposing her long and curvy legs, which is accentuated by her facing forward with said legs crossed during battles.
- Stocking Filler: Her Christmas outfit for Week 5 has a pair of white stockings that go up to her thighs. You could say that she&apos;s a bit of a stocking stuffer.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Daddy Dearest.png</string>
            <key>title</key>
            <string>Daddy Dearest</string>
            <key>details</key>
            <string>Voiced by: Kawai Sprite (Father, samples only), Monica Franco (Mom, samples only)
The Girlfriend&apos;s parents, who aren&apos;t too accepting of their new son-in-law just yet. Daddy Dearest faces you in Week 1 to prove your worth, The Mom takes you on in Week 4 to test your might once more, and they both stand in your way for a Christmas-themed showdown during Week 5.
The Mom&apos;s songs include &quot;Satin Panties&quot;, &quot;High&quot;, and &quot;M.I.L.F&quot;.
Both parents together have the songs &quot;Cocoa&quot; and &quot;Eggnog&quot;.

+ Anime Hair: Has gray-ish purple pompadour-like hair in the shape of a crescent moon or devil horns.
+ Ax-Crazy: The various descriptions of Daddy Dearest stating he wants to kill The Boyfriend for dating his daughter, along with pointing a gun at a mall Santa simply so he could face The Boyfriend again, make it quite clear that this man is violently insane. Week 6 reveals that he has given fates worse than death to many, many people for unknown reasons.
+ Big Bad: The main antagonist of the story and continues to stand in the way of the Boyfriend even after his defeat in Week 1. While not present, he directly influences the events that occur on Week 3 and Week 6.
+ Carpet of Virility: Has a small tuft of hair on his bare chest.
+ Disproportionate Retribution: According to the descriptions of the game on Newgrounds and Itch.io, Daddy Dearest is apparently trying to straight up kill The Boyfriend for daring to date his daughter. Even if he&apos;s beaten during Week 1, he still sends Pico during Week 3 to kill The Boyfriend.
+ Greater-Scope Villain: For Week 6. Spirit claims that Daddy Dearest was the one who shoved him in the game that the main characters find themselves trapped in, while also implying he&apos;s not Daddy Dearest&apos;s only victim.
+ Horned Hairdo: The ends of his pompadour are pointed to resemble devil horns, fitting for his personality and his attempts to keep the Boyfriend and Girlfriend apart.
+ Informed Attribute: He&apos;s apparently an ex-rockstar, but none of the songs he performs are of the rock genre.
+ Keeping the Enemy Close: The only reason he accepts the Boyfriend into his family is just to keep tabs with him and continues to interfere in the relationship of his daughter whenever he has the chance.
+ Long Pants: Daddy Dearest is drawn without any lines separating his shoes from his pants.
+ No Shirt, Long Jacket: Wears a black jacket with no shirt, exposing both the hair on his chest and on his crotch.
+ Retired Badass: An ex-rockstar, and he can still sing circles around you.
+ A Sinister Clue: Daddy Dearest holds his microphone with his left hand. Very fitting for someone who looks so damn intimidating.
+ Slasher Smile: He&apos;s got a near-constant grin that shows his gums, and he may or may not be trying to kill The Boyfriend.
+ Sore Loser: Even if he ultimately accepted the Boyfriend as his daughter&apos;s partner, he is sore about losing to him on Week 1 and is still firmly against their relationship, sabotaging them whenever he can, to the point he hired a hitman to kill the Boyfriend and threw the Boyfriend and the Girlfriend into a Dating Sim just to be dick.
+ The Stoic: A variant; he&apos;s got a near-constant rictus grin that would indicate some form of sadistic glee, but in the update that added &quot;losing&quot; animations to other characters&apos; icons on the health bar, Daddy Dearest is the only one who has no visible change in emotion regardless of his status. Even the Monster, who wears a similar grin, shows signs of wearing out when the Boyfriend&apos;s winning.
+ Warm-Up Boss: Thanks to being the first opponent battled chronologically, his first two songs have somewhat slow and simple notes compared to later levels. &quot;Dad Battle&quot; ups the stakes considerably after Father and Boyfriend are done warming up, but is still manageable to get by.
+ You Gotta Have Blue Hair: His hair is a purple-ish gray.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>The Mom.png</string>
            <key>title</key>
            <string>The Mom</string>
            <key>details</key>
            <string>Voiced by: Kawai Sprite (Father, samples only), Monica Franco (Mom, samples only)
The Girlfriend&apos;s parents, who aren&apos;t too accepting of their new son-in-law just yet. Daddy Dearest faces you in Week 1 to prove your worth, The Mom takes you on in Week 4 to test your might once more, and they both stand in your way for a Christmas-themed showdown during Week 5.
The Mom&apos;s songs include &quot;Satin Panties&quot;, &quot;High&quot;, and &quot;M.I.L.F&quot;.
Both parents together have the songs &quot;Cocoa&quot; and &quot;Eggnog&quot;.

+ Absolute Cleavage: Her Santa-themed jacket in Week 5 is open from the neck all the way to the stomach, just barely covering her breasts. Considering that there&apos;s no sign of a top underneath, she doesn&apos;t leave much to the imagination.
+ Ambiguously Evil: Earlier updates had it somewhat unclear how evil she was, specifically how bad she is compared to Daddy Dearest. While Week 5 showed she is obviously not a good person by having zero qualms about her husband threatening a mall Santa, she otherwise wasn&apos;t described or displayed as sharing his sense of Disproportionate Retribution about dating her daughter. The ambiguity was clarified for the most part with the Week 6 update that introduced week titles, as hers being called &quot;Mommy Must Murder&quot; makes it obvious she&apos;s just as much of a Knight Templar Parent as her husband.
+ Femme Fatalons: She has long sharp fingernails painted dark crimson, fitting in with her skimpy and menacing appearance.
+ Large Ham: Her movements while singing are exaggerated and full of personality, looking like she&apos;s trying to make a performance out of them alone while singing against the Boyfriend.
+ Messy Hair: Her hair looks a lot less maintained and groomed compared to the other characters, notably her own daughter who shares the same color and length, with it having a very jagged and uneven appearance. This unkempt look works well to highlight how she&apos;s a lot more bombastically energetic and ambiguously crazier compared to everybody else.
+ Ms. Fanservice: Just like The Girlfriend, she has messy, long brown hair, a form-fitting red dress complemented with an open black jacket, and overall has a very curvaceous body. She accentuates this even further by having prominent lips with red lipstick and wearing thigh-high boots linked to her dress with garter belts. Her Christmas outfit is even sexier, trading her thigh-exposing dress-and-boots combo for a Santa suit with a shirt featuring Absolute Cleavage and Vapor Wear that prominently shows off her breasts.
+ Sexy Santa Dress: Her outfit during Week 5 is a Santa suit, except in this case it has stomach-reaching Absolute Cleavage and fur-lined versions of her regular thigh-high boots.
+ Strong Family Resemblance: The Mom looks like a mix between a grown up Girlfriend and Daddy Dearest, though she leans more on Daddy Dearest&apos;s side; she shares The Girlfriend&apos;s red dress and big brunette hair, with the same eyes, leather jacket, and purple skin as Daddy Dearest.
+ Vapor Wear: She&apos;s wearing no kind of top under that Santa coat she wears during Week 5.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Pico.png</string>
            <key>title</key>
            <string>Pico</string>
            <key>details</key>
            <string>Voiced by: Kawai Sprite (samples only)
Week 3&apos;s opponent: a hotheaded redhead from Newgrounds history, known best as the star of Tom Fulp&apos;s Pico&apos;s School. His sequel may have been canceled, but he&apos;s still packing heat with his UZI and on the mic.

His songs include &quot;Pico&quot;, &quot;Philly&quot;, and &quot;Blammed&quot;.

- Age Lift: He&apos;s an elementary to high school student within his home series; here he is a young adult implied to be around the same age as the Boyfriend.
- Boastful Rap: His first song, &quot;Pico&quot;, opens with Pico distinctly cheering himself on.
- Fiery Redhead: Newground&apos;s finest, and on top of being a Hired Gun these days he&apos;s also got a deep and aggressive style of rapping.
- Gangsta Style: Holds his gun sideways during his down and left poses for extra style.
- Guest Fighter: One of Newgrounds&apos; most iconic mascots and Tom Fulp&apos;s poster boy. For a game that celebrates the website and Flash content in general, it&apos;d be criminal not to include him.
- Hitman with a Heart: Upon finding out his mark is the Boyfriend, someone he has personal history with, he refuses to gun him down on the spot like the job entailed and instead opts for a friendly rap battle instead.
- Ornamental Weapon: He waves around his trademark uzi while rapping, gun safety be damned. Justified, as he intended to use it before he found out just who his mark was.
- Professional Killer: This version of Pico works as a mercenary and is hired by Daddy Dearest to kill the Boyfriend in Week 3. However, Pico is only ever given a location and not a name, and when he finds out his target is someone he has history with, he decides to challenge him to a rap battle instead.
- Radio Voice: His &quot;voice&quot; sounds like it&apos;s filtered through a radio, though it&apos;s more robotic-sounding than it is human.
- Redhead In Green: His green shirt and khakis are about as iconic as the uzi he carries around.
- Speaking Simlish: Downplayed. His rap style includes a few literal words, and then several sounds which are easily mistaken for words, namely, &apos;Go Pico!&apos; &apos;C&apos;mon&apos; and &apos;That&apos;s right!&apos;
- Vocal Dissonance: He&apos;s just as short as the Boyfriend and can&apos;t be much older than a young adult, but he&apos;s also got the deepest singing voice of the cast.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Skid and Pump.png</string>
            <key>title</key>
            <string>Skid and Pump</string>
            <key>details</key>
            <string>Voiced by: Sr. Pelo (samples only)
Week 2&apos;s opponents: two rambunctious, Halloween obsessed children that hail from Sr.Pelo&apos;s Spooky Month series. They&apos;re fought in a haunted house, befitting their horror-themed obsessions and terrifying flow on the mic.
Their songs include &quot;Spookeez&quot; and &quot;South&quot;.

- Bash Brothers: The duo are rarely seen separated from each other, so naturally they battle as a team.
- Cheerful Child: Both are hyperactive, rambunctious children who appear to be having a lot of fun during their battle. Their first song, &quot;Spookeez&quot;, even has plenty of &apos;Yay!&apos; and &apos;Haha!&apos; peppered in and their movement sprites have nothing but joy on their faces to be singing together, compared to just about everyone who tries to put on their fiercest face for the rap battle.
- Dissonant Serenity: On the health bar at the bottom, Pump will frown with X&apos;s in his eyes when The Boyfriend is winning. Skid will also have X&apos;s in his eyes, but his icon still shows him smiling.
- The Dividual: Skid and Pump face the Boyfriend together as a unit, Skid singing the up and left notes while Pump handles the right and down notes.
- Everybody Do the Endless Loop: Their idle animation is the Spooky Dance, a Running Gag in their home series where they rapidly shift from left to right with their hands outstretched.Note
- Expressive Mask: Pump&apos;s wearing a pumpkin as part of his costume, whose mouthpiece and eyes move as he does.
- Guest Fighter: The stars of Sr.Pelo&apos;s Spooky Month series. Their idle animation is even their little spooky dance!
- Halloween Songs: Fittingly for their love of the holiday, Spookeez has an upbeat Halloween horror vibe to it, complete with someone going crazy on an Ominous Pipe Organ, plenty of &quot;Psycho&quot; Strings, thunder echoing and a chunk of the verses containing plenty of Boo!&apos;s in them.
- Happy Dance: Their signature Spooky Dance is their idle animation.
- Horrible Judge of Character: Skid and Pump are no strangers to getting tricked by obviously dangerous people into doing something for them, and it happens again in Week 2, where they are told that the Girlfriend is &quot;candy&quot; by the Monster, explaining why they are after her.
- Human Ladder: Skid stands on Pump&apos;s shoulders and they share a single microphone.
- Pumpkin Person: Pump wears a pumpkin on his head as part of his costume; it&apos;s his usual attire all year round.
- Wake-Up Call Boss: Skid and Pump mark the point where the game stops playing nice and tries to overwhelm the player with an intense amount of notes to fit the fast paced nature of the music.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Monster.png</string>
            <key>title</key>
            <string>Monster</string>
            <key>details</key>
            <string>Voiced by: Bassetfilms
&quot;Your skin is freezing... Here, let me help you take it off.&quot;
A strange, horrifying creature whose origin is a mystery. While it does wish to battle, it doesn&apos;t intend to date your girlfriend, instead very much wanting to eat her (and you) alive!
Initially planned to be added as the final song for Week 2, it was cut due to technical issues, though there are plans to add it in at a later date. It finally made its proper, horrifying debut in Week 5, hijacking the mall it takes place in during Christmas, complete with a tattered Santa hat.

Its two songs (the former currently Dummied Out) are &quot;Monster&quot; and &quot;Winter Horrorland&quot;.

- Ax-Crazy: Unlike Daddy Dearest, whose want of killing The Boyfriend is only in game descriptions, this thing makes it very clear through song that it really wants to eat The Girlfriend and The Boyfriend, and has plenty of means to do so.
- Blood from the Mouth: Its score meter icon when the Boyfriend has a significant lead has blood dripping down the sides of its mouth, making its unwavering grin even more unsettling.
- Creepy Souvenir: It wears a Santa hat during its battle, but if you notice it in the background during the first two songs, it isn&apos;t wearing a hat, implying it killed the mall Santa and took his hat.
- Deranged Animation: Downplayed thanks to the limited amount of animation in the game, though the Monster&apos;s gets some of the more grotesque sprites compared to everyone else&apos;s simplified styles. Namely, its huge eyes are constantly bulging out of their sockets a bit while leaking a little blood and you can see the creases and stretch marks on its lemon head as it moves, presumably from its actual face/skull pressing against it hard enough.
- The Dreaded: When it takes over Week 5, the once packed mall that it takes place in is completely empty save for it, The Boyfriend and The Girlfriend, implying either everyone fled from it or it killed everyone.
- Dummied Out: It and its song &quot;Monster&quot; were originally intended to be implemented during the Halloween update, with the creators getting as far as including all the coding and music necessary for it to be playable, but in the end they decided to leave it out due to having technical difficulties making it work, with there being potential plans to properly implement the song now that they&apos;ve worked out the kinks following the Christmas week update. &quot;Monster&quot; can still be accessed in-game, but you need to go out of your way to get to it here&apos;s how , and its original sprites are obviously unfinished.
- Facial Horror: While its almost bloody-looking eyes and mouthful of ruby-reds qualify well enough on their own, its revamped &quot;up&quot; and &quot;down&quot; animations are of particular note; the &quot;up&quot; animation shows its skull, or whatever it has inside that lemon head, pressing against its face from within, straining the skin grotesquely and making its already huge eyes bulge out even more. Meanwhile, the &quot;down&quot; animation has those charming bloody eyes visibly bulge outwards during the motion, looking ready to drop out of their sockets or burst outright, if not both.
- Flaying Alive: One of its favorite things to sing about is ripping the Boyfriend&apos;s skin off.
- Four Is Death: There are multiple things that link it to the number 4, though whether they are just coincidences or are actually intentional on the devs&apos; part is unknown. For example:
+ It has a collective total of four fingers and four toes.
+ &quot;Monster&quot; starts off like a typical spooky song perfect for Halloween. It&apos;s at the fourth verse, however, that things take a turn for the absolute worst as it makes its intentions for the Boyfriend and Girlfriend absolutely clear.
Guess it&apos;s time, you better plug in all your nightlights...
What&apos;s out there past your darkened door?
Just the eyes floating up out of the shore...
Hey man, I&apos;m gonna eat your Girlfriend!
+ It made its official debut four in-game Weeks after Week 1, and by extension after the game launched.
+ For both times that its Verbal Tic kicks in during &quot;Winter Horrorland&quot; it goes &quot;La~!&quot; four times each.
+ Closer inspection of the Christmas tree during Week 5 reveals that the entrails are wrapped around it four times.
- Giant Space Flea from Nowhere: If you don&apos;t account for its appearance in the unused and unfinished song &quot;Monster&quot;, then &quot;Winter Horrorland&quot; currently remains as its first appearance in the storyline. First appearing in the crowd enjoying the music in the background of the mall before performing a Hostile Show Takeover, covering the stage in blood and entrails, and scaring everyone off so it can challenge Boyfriend as the final opponent of Week 5.
- Humanoid Abomination: It looks vaguely like a human... if humans were slightly potbellied, wore shadowy onesies, had two fingers and toes on both hands and feet, and had lemon shaped heads with creepy eyes and forever-toothy-grinning expressions.
- Laughably Evil: It sings in a goofy manner and even wears a Santa hat during Week 5, but the lyrics to both songs are about severing and cooking two teenagers. Make no mistake, this thing can and will skin you alive if given the chance.
- Lyrical Dissonance: Both of its songs have to do with it wanting to gruesomely murder and eat the Boyfriend and the Girlfriend. Both of said songs are also incredibly chipper and up-beat, with said songs getting bouncier and cheerier whenever it gets to the lines about what it wants to do with you.
- Non-Human Head: Its head is a lemon, though the rest of its body only vaguely looks human.
- Recurring Boss: In a technical sense. It was supposed to be fought in the third song of Week 2, but due to &quot;Monster&quot; getting Dummied Out, it currently is only fought once in the third song of Week 5.
- Scary Teeth: In comparison to the rest of the cast&apos;s simplistic mouths, each of its teeth are drawn separately. They&apos;re also all blood red.
- Slasher Smile: It has a wide, open smile with each of the teeth rendered in loving detail. The mouth also contorts grotesquely when it sings during Week 5. This even extends to its icons on the score meter at the bottom of the screen, with it even wearing the grin when losing soundly.
- Soft-Spoken Sadist: Despite how horrifying this thing looks, it actually has a rather low, calm, and overall pretty soothing singing voice. All that does is make it creepier and more disturbing, since there&apos;s some implication that it&apos;s acting completely normally and casually in its efforts to kill and eat the main couple, as if this was just a regular daily thing for it to do.
- Suddenly Voiced: Compared to almost all of the cast so far (save The Girlfriend, and that&apos;s for one tutorial), it&apos;s the only singer who actually sings in clear English.
- To Serve Man: It wants to eat The Boyfriend and The Girlfriend so much that it sings about doing so. In &quot;Winter Horrorland&quot;, a significant portion of the lyrics are outright dedicated to it gleefully detailing a recipe for preparing the Boyfriend as a Christmas meal, even pairing him with brandy and plums.
- Verbal Tic: It has a tendency to go &quot;La la la la~!&quot; like a happy little kid, doing so twice in both of its songs, usually right after describing some horrible method of murder or flaying.
- Vile Villain, Saccharine Show: In a happy, goofy little rhythm game, this is a being who wants to mutilate a teenager, leave his mangled corpse in a dungeon and devour both him and his lover. Its design is also a lot more abstract and out there in comparison to the rest of the cast.
- Villain Song: Both of its songs are all about the monstrous intentions it has for the characters, with the majority of their lyrics having something to do with either murdering the main characters or eating them, and the rest of the lyrics being about how it will enjoy doing so.
- Voice of the Legion: Its voice has a low reverberating overlap to it, best heard when the vocals of its songs are isolated.
- Walking Spoiler: While the existence of the character in itself is quite easily learnable and spoiler-free, the context behind its proper introduction in the game at the end of Week 5 is impossible to talk about without mentioning all the terrifying implications and other horrifying details.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Senpai.png</string>
            <key>title</key>
            <string>Senpai</string>
            <key>details</key>
            <string>Voiced by: Kawai Sprite (samples only)
&quot;Ah, a new fair maiden has come in search of true love!&quot;
Week 6&apos;s opponent: the most popular and handsome student to ever attend a Japanese highschool... in a 16-bit video game. The Boyfriend and Girlfriend meet him after getting sucked up into his video game world (don&apos;t ask) surrounded and adored by every girl in his school. He&apos;s only got his eyes on one of them, though: yours.

Oh well, back to the grind. Who knows? Maybe he can help our couple get back to their world...

His songs include &quot;Senpai&quot; and &quot;Roses&quot;.

- A.I. Is a Crapshoot: His complete 180 from nice gentleman to rude foulmouth during &quot;Roses&quot; is the result of his programming being unable to handle losing to the Boyfriend and not being the center of attention.
- Phantom Arcade: As a character who&apos;s just made to be in a game where you just get loved[...] all of a sudden just not being loved and losing and not being perfect... it doesn&apos;t jive with him.
- Art Shift: Uniquely, he and his Week are stylized by fellow Newgrounds user and pixel artist moawling (A.K.A. Moawko) as a 16-bit video game rather than the usual cartoonish style of the game, done so in celebration of Newgrounds&apos; very own long-running annual holiday, Pixel Day.
- Bishie Sparkle: His idle animation during &quot;Senpai&quot; features small sparkles flashing around his face.
- Bitch in Sheep&apos;s Clothing: He acts charming and affable when you first start your fight. After you beat his first song during Story Mode, he instantly gets mad at The Boyfriend and rudely insults him.
- Senpai: Not bad for an ugly worm. But this time I&apos;ll rip your nuts off after your girlfriend finishes gargling mine.
- Blush Sticker: Has large pink ovals on his cheeks for blush, fitting his Pretty Boy appearance. They disappear when he loses his cool.
- Chick Magnet: The background of his stage is absolutely packed with several girls gawking at him with heart eyes.
- Derailing Love Interests: He&apos;s introduced as a kind, normal student, offering &quot;a serenade between gentlemen&quot; for the Girlfriend&apos;s love. Once he loses the first song, he drops any semblance of cheer, insulting and threatening the Boyfriend. (Justified in that the game&apos;s developers did not program him to lose, eventually resulting in the Spirit being able to break out of his coding.)
- Desperation Attack: The final verse of Roses has him sing out a big mess of notes in a last ditch effort to throw the Boyfriend off his game.
- Expy: The color of his hair, eyes, and uniform, the fact that he&apos;s a Casanova Bishōnen that is surrounded by heart eyed girls, his association with roses (the title of one of his songs), and his title of &quot;Senpai&quot; all give him a resemblance to Tamaki Suoh.
- Flower Motif: Has an association with roses, which fittingly represent love and beauty: two red roses are wrapped around his game&apos;s textboxes, and &quot;Roses&quot; is the title of his second song. &quot;Thorns&quot;, while not sung by him, references the phrase &quot;every rose has its thorns&quot;, referring to the Spirit being trapped behind his code.
- Leaning on the Fourth Wall: He&apos;s looking directly at the player throughout his first song, winking and smiling at them in most moves unlike everyone else who&apos;s facing the Boyfriend, likely owing to his hard coded role as a dating sim NPC. He shifts from this to putting on his Game Face when he starts to lose, with his eyes locked squarely on the Boyfriend throughout his second song.
- Loving a Shadow: Phantom Arcade equates the Senpai&apos;s love for the Girlfriend to how a Love Interest of a protagonist loves the player: by proxy, simply because they are playing as the character they actually love.
- Non-Standard Character Design: He&apos;s stylized like a 16-bit Animesque video game character rather than the normal cartoonish art style. Justified in that he is a 16-bit video game character.
- Painful Transformation: He lets loose the Spirit out from his body with pained gasps and a harsh crack out of his face, after that he’s not seen again as the Spirit takes the stage.
- A Sinister Clue: Like with Daddy Dearest, he holds his microphone in his left hand, foreshadowing him being a Bitch in Sheep&apos;s Clothing and the otherworldly spirit-thing hidden behind his code.
- Sophisticated as Hell: Before his first battle he challenges the Boyfriend to a &quot;Serenade between gentlemen&quot; for &quot;the hand of this fair maiden&quot;. - Before his second battle he threatens to rip the Boyfriend&apos;s balls off after making his girlfriend gargle his.
- Turns Red: Becomes visibly angry during his second song, &quot;Roses&quot;, coupled with a much faster and more note-dense chart than his previous song.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Spirit (Unmarked Spoilers!).png</string>
            <key>title</key>
            <string>Spirit (Unmarked Spoilers!)</string>
            <key>details</key>
            <string>Voiced by: Kawai Sprite (samples only)
&quot;Direct contact with real humans, after being trapped in here for so long...&quot;
Week 6&apos;s second opponent, a wisp-like entity trapped within the Senpai&apos;s game by Daddy Dearest. Breaking free of his binds thanks to the Boyfriend winning causing the game&apos;s code to go screwy, he challenges the Boyfriend himself for his and the Girlfriend&apos;s bodies in a bid to finally escape the game.

His sole song is &quot;Thorns&quot;.

- Ambiguously Human: While he&apos;s quite obviously not human now, it&apos;s not clear what he was like before getting trapped in the game. Whether he&apos;s a former human, a former demon, or has always been an Eldritch Abomination, is not given any hints about in his dialogue.
- Ambiguous Situation: It&apos;s clear he knows The Girlfriend by association with her father, but it&apos;s unclear if he knew her personally or only learned of her off-hand before his imprisonment (or during it).
- And I Must Scream: Daddy Dearest trapped him in Senpai&apos;s dating sim, stuck behind the code for who knows how long until the Boyfriend and the Girlfriend came along. He in turn plans to give the two the same fate by taking their bodies, allowing him to escape while they remain trapped.
- Electronic Speech Impediment: Upon defeating him and before the game boots you back to the level select screen, he tries to get one last word in but it only comes out a glitched and stuttering mess before the fade to black and the game he&apos;s in presumably shuts down.
- Eldritch Abomination: Spirit is a human-faced wisp of red smoke, who rather violently rips himself out of the Senpai. Whatever he is, he definitely isn&apos;t human — or at least, not anymore.
- Evil Is Visceral: Downplayed; his silhouette resembles an anatomical human heart and his form even pulses with the rhythm of the music.
- He Who Fights Monsters: Before his song, he states that he wants to make Daddy Dearest pay for what he did to him and the others, implying that he wants to get revenge for everyone Daddy Dearest has disposed of. However, his plan would involve trapping The Boyfriend in the same Fate Worse than Death he&apos;s been going through by taking over his body, despite The Boyfriend being completely innocent.
- Knight of Cerebus: While the Monster is a horrifying abomination that shows how the game isn&apos;t going to be all lighthearted rapping fun, it was still mostly just as random a battle as the other opponents. Spirit here, on the other hand, fully recontextualizes everything about the game by bringing in actual plot, and while his overall character is softer than Monster and only fought in Week 6, his existence and reasons for battling The Boyfriend show that there&apos;s more to the story going on than just a man wandering around having rap battles with people.
- No Name Given: Goes unnamed within Week 6 itself; his files refer to him as &quot;Spirit&quot;, but considering how he got trapped, it most likely isn&apos;t his actual name.
- Non-Standard Character Design: Spirit has a realistic-looking face, clashing jarringly with both the game&apos;s normal cartoony art style and the Animesque video game Week 6 takes place in.
- Revenge: His motive for singing against The Boyfriend: he wants to take his body and take vengeance upon Daddy Dearest for himself and other victims of his.
- Sealed Inside a Person-Shaped Can: While his prison is the game itself, he was chained to the Senpai specifically, and him breaking free involved the Senpai in turn painfully dying.
- Vocal Dissonance: Spirit has the same vocals as the Senpai, despite being a realistically-faced pink spirit creature.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>Cassette Girl.png</string>
            <key>title</key>
            <string>Cassette Girl</string>
            <key>details</key>
            <string>She was teased alongside Pico, Tankman and Hank J. Wimbleton on the 15th of November, 2020.
- Appearance
Cassette Girl is a young, light-skinned girl with long black hair. She wears a loose-fitted, dark gray-blue hoodie with drawstrings, short black shorts, a squarish, slightly-torn dark gray-blue hat that resembles a cassette player on the front and dark gray-blue and white sneakers with the laces untied. She holds a microphone in her left hand.
- Origin
Cassette Girl is a character created by SoftDon in 2018. She was originally meant to be a music-related mascot and was designed with a unique hat that serves as both headwear and music player to reflect this.
- Trivia
+ Cassette Girl is so far the only confirmed character to not have any games or animations associated with her, that was not created originally for Friday Night Funkin&apos;.
+ An early concept sketch of Cassette Girl shows that she can open the lower half of her face like a cassette player.</string>
        </dict>
        <dict>
            <key>image</key>
            <string>TANKMAN.png</string>
            <key>title</key>
            <string>TANKMAN</string>
            <key>details</key>
            <string>He was teased alongside Pico, Cassette Girl and Hank J. Wimbleton on the 15th of November, 2020.
- Appearance
Tankman is a soldier with a monochromatic color scheme; his helmet, uniform, gloves, pants and boots are black, while his skin, visor and vest are white. On both of his arms are white corporal insignias, which distinguish him from the rest of the background soldiers in his series. He holds a microphone in his right hand, while keeping his left hand clenched.
- Origin
Sergeant John Captain, referred to simply as Captain or Cap, is the main protagonist of the Tankmen series created by JohnnyUtah. Captain comes from a post apocalyptic desert-like hellscape where only militias of Tankmen survive. He is the driver of the tank from the Newgrounds logo.
- Trivia
+ Tankman has his character icons in the game&apos;s files despite being unreleased.
+ His sprite sheet is also publicly released and can be found here.
+ Tankman&apos;s voice will be reprised by JohnnyUtah, the creator of the TANKMEN series and Tankman&apos;s current design.
+ JohnnyUtah also redesigned both the Friday Night Funkin&apos; logo and the current Newgrounds logo.</string>
        </dict>
    </array>
</plist>
