<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7175726169257359~9045645651</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>zoomus</string>
		<string>discord</string>
		<string>youtube</string>
		<string>tiktok</string>
		<string>instagram</string>
		<string>fb</string>
		<string>fb-messenger</string>
		<string>snapchat</string>
		<string>googlegmail</string>
		<string>squarecash</string>
		<string>twitter</string>
		<string>g.co/meet</string>
		<string>gmeet</string>
		<string>amongus</string>
		<string>nflx</string>
		<string>photomath</string>
		<string>amazonToAlipay</string>
		<string>google</string>
		<string>googlemaps</string>
		<string>spotify</string>
		<string>whatsapp</string>
		<string>googlechrome</string>
		<string>pinterest</string>
		<string>venmo</string>
		<string>paypal</string>
		<string>ms-outlook</string>
		<string>tinder</string>
		<string>tel:</string>
		<string>messages</string>
		<string>x-web-search</string>
		<string>music</string>
		<string>itms-apps</string>
		<string>App-prefs</string>
		<string>facetime</string>
		<string>photos-redirect</string>
		<string>itms-watchs</string>
		<string>itms</string>
		<string>videos</string>
		<string>ibooks</string>
		<string>mobilenotes</string>
		<string>x-apple-reminderkit</string>
		<string>cameraplus</string>
		<string>calc</string>
		<string>mcdonald</string>
		<string>googledocs</string>
		<string>googledrive</string>
		<string>shareddocuments</string>
		<string>telegram</string>
		<string>eBay</string>
		<string>youtube</string>
		<string>googlesheets</string>
		<string>googletranslate</string>
		<string>message</string>
		<string>word</string>
		<string>calshow</string>
		<string>clips</string>
		<string>contact</string>
		<string>x-apple-health</string>
		<string>maps</string>
		<string>applenewss</string>
		<string>stocks</string>
		<string>voicememos</string>
		<string>shoebox</string>
		<string>wxunderground</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Our application needs permission to save photos in library.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>FRIDAY NIGHT.TTF</string>
		<string>VNI-HOBO.TTF</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
