<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "httpwww.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>ZOOM Cloud Meetings</string>
		<key>image_name</key>
		<string>1_ic_zoom</string>
		<key>url_scheme</key>
		<string>zoomus</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Discord - Talk, Chat, Hang Out</string>
		<key>image_name</key>
		<string>2_ic_discord</string>
		<key>url_scheme</key>
		<string>com.hammerandchisel.discord</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>YouTube: Watch, Listen, Stream</string>
		<key>image_name</key>
		<string>3_ic_youtube</string>
		<key>url_scheme</key>
		<string>youtube</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Tiktok</string>
		<key>image_name</key>
		<string>4_ic_tiktok</string>
		<key>url_scheme</key>
		<string>tiktok</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Instagram</string>
		<key>image_name</key>
		<string>5_ic_instagram</string>
		<key>url_scheme</key>
		<string>instagramapp</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Facebook</string>
		<key>image_name</key>
		<string>6_ic_facebook</string>
		<key>url_scheme</key>
		<string>fb</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>Messenger</string>
		<key>image_name</key>
		<string>7_ic_messenger</string>
		<key>url_scheme</key>
		<string>fb-messenger</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>Snapchat</string>
		<key>image_name</key>
		<string>8_ic_snapchat</string>
		<key>url_scheme</key>
		<string>snapchat</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>Gmail - Email by Google</string>
		<key>image_name</key>
		<string>9_ic_gmail</string>
		<key>url_scheme</key>
		<string>googlegmail</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>Cashapp</string>
		<key>image_name</key>
		<string>10_ic_cashapp</string>
		<key>url_scheme</key>
		<string>squarecash</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>Twitter</string>
		<key>image_name</key>
		<string>11_ic_twitter</string>
		<key>url_scheme</key>
		<string>twitter</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>Google meet</string>
		<key>image_name</key>
		<string>12_ic_googlemeet</string>
		<key>url_scheme</key>
		<string>com.google.meetings</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>Netflix</string>
		<key>image_name</key>
		<string>13_ic_netflix</string>
		<key>url_scheme</key>
		<string>nflx</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>Photo Math</string>
		<key>image_name</key>
		<string>14_ic_photomath</string>
		<key>url_scheme</key>
		<string>photomath</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>Amazon Shopping</string>
		<key>image_name</key>
		<string>15_ic_amazonshopping</string>
		<key>url_scheme</key>
		<string>amazonToAlipay</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>Google</string>
		<key>image_name</key>
		<string>16_ic_google</string>
		<key>url_scheme</key>
		<string>google</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>name</key>
		<string>Google Maps  - Transit &amp; Food</string>
		<key>image_name</key>
		<string>17_ic_googlemaps</string>
		<key>url_scheme</key>
		<string>googlemaps</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>name</key>
		<string>Spotify: Music and podcasts</string>
		<key>image_name</key>
		<string>18_ic_spotify</string>
		<key>url_scheme</key>
		<string>spotify</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>name</key>
		<string>WhatsApp Messenger</string>
		<key>image_name</key>
		<string>19_ic_whatsapp</string>
		<key>url_scheme</key>
		<string>whatsapp</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>name</key>
		<string>Google Chrome</string>
		<key>image_name</key>
		<string>20_ic_googlechrome</string>
		<key>url_scheme</key>
		<string>googlechrome</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>name</key>
		<string>Pinterest</string>
		<key>image_name</key>
		<string>21_ic_pinterest</string>
		<key>url_scheme</key>
		<string>pinterest</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>name</key>
		<string>Venmo</string>
		<key>image_name</key>
		<string>22_ic_venmo</string>
		<key>url_scheme</key>
		<string>venmo</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>name</key>
		<string>PayPal: Mobile Cash</string>
		<key>image_name</key>
		<string>23_ic_paypal</string>
		<key>url_scheme</key>
		<string>paypal</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>name</key>
		<string>Outlook</string>
		<key>image_name</key>
		<string>24_ic_outlook</string>
		<key>url_scheme</key>
		<string>ms-outlook</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>name</key>
		<string>Tinder - Dating New People</string>
		<key>image_name</key>
		<string>25_ic_tinder</string>
		<key>url_scheme</key>
		<string>tinder</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>26</integer>
		<key>name</key>
		<string>Phone </string>
		<key>image_name</key>
		<string>26_ic_phone_apple</string>
		<key>url_scheme</key>
		<string>shortcuts://x-callback-url://run-shortcut?x-error=mobilephone</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>name</key>
		<string>Message</string>
		<key>image_name</key>
		<string>27_ic_message_apple</string>
		<key>url_scheme</key>
		<string>messages</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>name</key>
		<string>Safari</string>
		<key>image_name</key>
		<string>28_ic_safari_apple</string>
		<key>url_scheme</key>
		<string>amongmakericonatsoft:search?app=safari</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>name</key>
		<string>Apple Music</string>
		<key>image_name</key>
		<string>29_ic_music_apple</string>
		<key>url_scheme</key>
		<string>music</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>name</key>
		<string>App Store</string>
		<key>image_name</key>
		<string>30_ic_appstore_apple</string>
		<key>url_scheme</key>
		<string>shortcuts://x-callback-url://run-shortcut?x-error=itms-apps://itunes.apple.com</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>name</key>
		<string>Settings</string>
		<key>image_name</key>
		<string>31_ic_settings_apple</string>
		<key>url_scheme</key>
		<string>shortcuts://x-callback-url://run-shortcut?x-error=prefs</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>32</integer>
		<key>name</key>
		<string>Facetime</string>
		<key>image_name</key>
		<string>32_ic_facetime_apple</string>
		<key>url_scheme</key>
		<string>com.apple.facetime</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>33</integer>
		<key>name</key>
		<string>Photos</string>
		<key>image_name</key>
		<string>33_ic_apple-photos</string>
		<key>url_scheme</key>
		<string>photos-redirect</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>34</integer>
		<key>name</key>
		<string>Apple Watch</string>
		<key>image_name</key>
		<string>34_ic_watch_apple</string>
		<key>url_scheme</key>
		<string>itms-watch</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>35</integer>
		<key>name</key>
		<string>Itunes</string>
		<key>image_name</key>
		<string>35_ic_itunes_apple</string>
		<key>url_scheme</key>
		<string>itms</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>36</integer>
		<key>name</key>
		<string>Apple TV</string>
		<key>image_name</key>
		<string>36_ic_tv_apple</string>
		<key>url_scheme</key>
		<string>videos</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>37</integer>
		<key>name</key>
		<string>iBook</string>
		<key>image_name</key>
		<string>37_ic_ibooks_apple</string>
		<key>url_scheme</key>
		<string>ibooks</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>38</integer>
		<key>name</key>
		<string>Notes</string>
		<key>image_name</key>
		<string>38_ic_notes_apple</string>
		<key>url_scheme</key>
		<string>mobilenotes</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>39</integer>
		<key>name</key>
		<string>Reminders</string>
		<key>image_name</key>
		<string>39_ic_reminders_apple</string>
		<key>url_scheme</key>
		<string>x-apple-reminderkit</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>40</integer>
		<key>name</key>
		<string>Camera</string>
		<key>image_name</key>
		<string>40_ic_camera_apple</string>
		<key>url_scheme</key>
		<string>shortcuts://x-callback-url://run-shortcut?x-error=camera</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>41</integer>
		<key>name</key>
		<string>Calculator</string>
		<key>image_name</key>
		<string>41_ic_calculator_apple</string>
		<key>url_scheme</key>
		<string>shortcuts://x-callback-url://run-shortcut?x-error=calc</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>42</integer>
		<key>name</key>
		<string>Mcdonald</string>
		<key>image_name</key>
		<string>42_ic_mcdonald</string>
		<key>url_scheme</key>
		<string>mcdonald</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>43</integer>
		<key>name</key>
		<string>Google Docs</string>
		<key>image_name</key>
		<string>43_ic_googledocs</string>
		<key>url_scheme</key>
		<string>googledocs</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>44</integer>
		<key>name</key>
		<string>Google Drive</string>
		<key>image_name</key>
		<string>44_ic_googledrive</string>
		<key>url_scheme</key>
		<string>googledrive</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>45</integer>
		<key>name</key>
		<string>Files</string>
		<key>image_name</key>
		<string>45_ic_files_apple</string>
		<key>url_scheme</key>
		<string>shareddocuments</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>46</integer>
		<key>name</key>
		<string>Telegram Messenger</string>
		<key>image_name</key>
		<string>46_ic_telegram</string>
		<key>url_scheme</key>
		<string>tg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>47</integer>
		<key>name</key>
		<string>Ebay</string>
		<key>image_name</key>
		<string>47_ic_ebay</string>
		<key>url_scheme</key>
		<string>eBay</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>48</integer>
		<key>name</key>
		<string>Youtube Music</string>
		<key>image_name</key>
		<string>48_ic_youtubemusic</string>
		<key>url_scheme</key>
		<string>vnd.youtube.music</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>49</integer>
		<key>name</key>
		<string>Google Sheet</string>
		<key>image_name</key>
		<string>49_ic_googlesheet</string>
		<key>url_scheme</key>
		<string>googlesheets</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>50</integer>
		<key>name</key>
		<string>Google Translate</string>
		<key>image_name</key>
		<string>50_ic_googletranslate</string>
		<key>url_scheme</key>
		<string>googletranslate</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>51</integer>
		<key>name</key>
		<string>Mail </string>
		<key>image_name</key>
		<string>51_ic_mail_apple</string>
		<key>url_scheme</key>
		<string>message</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>52</integer>
		<key>name</key>
		<string>Word</string>
		<key>image_name</key>
		<string>52_ic_word</string>
		<key>url_scheme</key>
		<string>word</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>53</integer>
		<key>name</key>
		<string>Calendar</string>
		<key>image_name</key>
		<string>53_calendar_apple</string>
		<key>url_scheme</key>
		<string>calshow</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>54</integer>
		<key>name</key>
		<string>Clips</string>
		<key>image_name</key>
		<string>54_clips_apple</string>
		<key>url_scheme</key>
		<string>clips</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>55</integer>
		<key>name</key>
		<string>Contacts</string>
		<key>image_name</key>
		<string>55_contacts_apple</string>
		<key>url_scheme</key>
		<string>shortcuts://x-callback-url://run-shortcut?x-error=contact</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>56</integer>
		<key>name</key>
		<string>Health</string>
		<key>image_name</key>
		<string>56_health_apple</string>
		<key>url_scheme</key>
		<string>x-apple-health</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>57</integer>
		<key>name</key>
		<string>Maps</string>
		<key>image_name</key>
		<string>57_maps_apple</string>
		<key>url_scheme</key>
		<string>maps</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>58</integer>
		<key>name</key>
		<string>News</string>
		<key>image_name</key>
		<string>58_news_apple</string>
		<key>url_scheme</key>
		<string>applenewss</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>59</integer>
		<key>name</key>
		<string>Stocks</string>
		<key>image_name</key>
		<string>59_stocks_apple</string>
		<key>url_scheme</key>
		<string>stocks</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>60</integer>
		<key>name</key>
		<string>Voice Memos</string>
		<key>image_name</key>
		<string>60_voice-memos_apple</string>
		<key>url_scheme</key>
		<string>voicememos</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>61</integer>
		<key>name</key>
		<string>Wallet</string>
		<key>image_name</key>
		<string>61_wallet_apple</string>
		<key>url_scheme</key>
		<string>shoebox</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>62</integer>
		<key>name</key>
		<string>Weather</string>
		<key>image_name</key>
		<string>62_weather_apple</string>
		<key>url_scheme</key>
		<string>wxunderground</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>63</integer>
		<key>name</key>
		<string>Reddit</string>
		<key>image_name</key>
		<string>63_Reddit</string>
		<key>url_scheme</key>
		<string>reddit</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>64</integer>
		<key>name</key>
		<string>Apple Store</string>
		<key>image_name</key>
		<string>64_apple_Store</string>
		<key>url_scheme</key>
		<string>applestore</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>65</integer>
		<key>name</key>
		<string>Clock</string>
		<key>image_name</key>
		<string>65_Clock</string>
		<key>url_scheme</key>
		<string>shortcuts://x-callback-url://run-shortcut?x-error=clock-worldclock</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>66</integer>
		<key>name</key>
		<string>Find My</string>
		<key>image_name</key>
		<string>66_Find_My</string>
		<key>url_scheme</key>
		<string>findmy</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>67</integer>
		<key>name</key>
		<string>Home</string>
		<key>image_name</key>
		<string>67_Home</string>
		<key>url_scheme</key>
		<string>com.apple.Home</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>68</integer>
		<key>name</key>
		<string>Shortcuts</string>
		<key>image_name</key>
		<string>68_Shortcuts</string>
		<key>url_scheme</key>
		<string>shortcuts</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>69</integer>
		<key>name</key>
		<string>Podcasts</string>
		<key>image_name</key>
		<string>69_Podcasts</string>
		<key>url_scheme</key>
		<string>pcast</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>70</integer>
		<key>name</key>
		<string>iMovie</string>
		<key>image_name</key>
		<string>70_iMovie</string>
		<key>url_scheme</key>
		<string>imovie</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>71</integer>
		<key>name</key>
		<string>SoundCloud - Music &amp; Audio</string>
		<key>image_name</key>
		<string>71_SoundCloud</string>
		<key>url_scheme</key>
		<string>soundcloud</string>
	</dict>
    <dict>
        <key>id</key>
        <integer>72</integer>
        <key>name</key>
        <string>Google Photos</string>
        <key>image_name</key>
        <string>72_Google Photos</string>
        <key>url_scheme</key>
        <string>googlephotos</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>73</integer>
        <key>name</key>
        <string>Pandora: Music &amp; Podcasts</string>
        <key>image_name</key>
        <string>73_Pandora</string>
        <key>url_scheme</key>
        <string>pandora</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>74</integer>
        <key>name</key>
        <string>Musi - Simple Music Streaming</string>
        <key>image_name</key>
        <string>74_Musi</string>
        <key>url_scheme</key>
        <string>musi</string>
    </dict>
    
    <dict>
        <key>id</key>
        <integer>75</integer>
        <key>name</key>
        <string>Signal - Private Messenger</string>
        <key>image_name</key>
        <string>75_Signal</string>
        <key>url_scheme</key>
        <string>sgnl</string>
    </dict>
    
    <dict>
        <key>id</key>
        <integer>76</integer>
        <key>name</key>
        <string>Dropbox - Backup, Sync, Share</string>
        <key>image_name</key>
        <string>76_Dropbox</string>
        <key>url_scheme</key>
        <string>dbx-dropbox</string>
    </dict>
    
    <dict>
        <key>id</key>
        <integer>77</integer>
        <key>name</key>
        <string>Zalo</string>
        <key>image_name</key>
        <string>77_Zalo</string>
        <key>url_scheme</key>
        <string>zalo</string>
    </dict>
    
    <dict>
        <key>id</key>
        <integer>78</integer>
        <key>name</key>
        <string>Zing MP3</string>
        <key>image_name</key>
        <string>78_Zing MP3</string>
        <key>url_scheme</key>
        <string>zingmp3</string>
    </dict>
    
    
</array>
</plist>
