<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Blammed</string>
		<key>filename</key>
		<string>Blammed</string>
		<key>duration</key>
		<integer>107</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bopeebo</string>
		<key>filename</key>
		<string>Bopeebo</string>
		<key>duration</key>
		<integer>77</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Cocoa</string>
		<key>filename</key>
		<string>Cocoa</string>
		<key>duration</key>
		<integer>115</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Dadbattle</string>
		<key>filename</key>
		<string>Dadbattle</string>
		<key>duration</key>
		<integer>87</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Eggnog</string>
		<key>filename</key>
		<string>Eggnog</string>
		<key>duration</key>
		<integer>94</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Freaky Menu</string>
		<key>filename</key>
		<string>FreakyMenu</string>
		<key>duration</key>
		<integer>113</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Fresh</string>
		<key>filename</key>
		<string>Fresh</string>
		<key>duration</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Girlfriend</string>
		<key>filename</key>
		<string>Girlfriend</string>
		<key>duration</key>
		<integer>67</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>High</string>
		<key>filename</key>
		<string>High</string>
		<key>duration</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Milf</string>
		<key>filename</key>
		<string>Milf</string>
		<key>duration</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Monster</string>
		<key>filename</key>
		<string>Monster</string>
		<key>duration</key>
		<integer>178</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Philly</string>
		<key>filename</key>
		<string>Philly</string>
		<key>duration</key>
		<integer>101</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Pico</string>
		<key>filename</key>
		<string>Pico</string>
		<key>duration</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Roses</string>
		<key>filename</key>
		<string>Roses</string>
		<key>duration</key>
		<integer>92</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Satin Panties</string>
		<key>filename</key>
		<string>SatinPanties</string>
		<key>duration</key>
		<integer>96</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Senpai</string>
		<key>filename</key>
		<string>Senpai</string>
		<key>duration</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>South</string>
		<key>filename</key>
		<string>South</string>
		<key>duration</key>
		<integer>89</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Spookeez</string>
		<key>filename</key>
		<string>Spookeez</string>
		<key>duration</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Test</string>
		<key>filename</key>
		<string>Test</string>
		<key>duration</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thorns</string>
		<key>filename</key>
		<string>Thorns</string>
		<key>duration</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Winter Horrorland</string>
		<key>filename</key>
		<string>WinterHorrorland</string>
		<key>duration</key>
		<integer>133</integer>
	</dict>
</array>
</plist>
